
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>

$('#success').hide().delay(100).fadeIn(200).delay(3000).fadeOut(150);

//   $('.message .close.icon').on('click', function() {
  
//     $(this).closest('.message').transition('fade');
      
//      });

$("#errMsg").on("click",function(){
    $(this).closest(".message").fadeOut(150);
});


$('.ui.dropdown').dropdown();


  
  </script>
    </body>
    </head>
</html>