<% include partials/header %>

<div class="ui text container customForm">
<form class="ui form" action="/blogs" method="POST">
    <div class="field">
        <label>Title</label>
        <input type="text" name="blogInfo[title]" placeholder="title">
    </div>
    <div class="field">
        <label>image</label>
        <input type="text" name="blogInfo[image]" placeholder="image url"> 
    </div>
    <div class="required field">
        <label> Text</label>
        <textarea name="blogInfo[description]" id="" cols="30" rows="10" required></textarea>
    </div>
    <button class="ui positive basic button">submit</button>
</form>
</div>
<% include partials/footer %>